<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text"></h5>

  <%= image_tag 'satoshi-logo-white.png', alt: 'background', style: 'display: block; transform: translate3d(0px, 0px, 0px);height:100px;margin-top:30px;' %>

          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Cursos de CryptoMoedas</h5>
            <p class="grey-text text-lighten-4">A união das idéias economicas de Hayek com o novo mundo da cryptografia computacional propiaciaram um novo universo: A Cryptoeconomia.</p>
        <!--    <a class="btn waves-effect waves-light hayek-gold lighten-3" target="_blank" href="https://gitter.im/Dogfalo/materialize">Chat</a> -->
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Conecte-se</h5>
            <iframe src="http://ghbtns.com/github-btn.html?user=dogfalo&repo=materialize&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <br>
            <a href="https://twitter.com/MaterializeCSS" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @MaterializeCSS</a>
            <br>
            <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/108619793845925798422" data-rel="publisher"></div>


              <ul>
                <li><a class="grey-text text-lighten-3" href="https://shaacademy.slack.com/">Slack</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              </ul>

          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Satoshi & Hayek Academy, All rights reserved.
        <!--<%= link_to "Sobre nós", pages_about_path, :class => "grey-text text-lighten-4 right" %> -->
        </div>
      </div>
    </footer>



<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
